{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Password reset sent" %} - {% trans "Tutor Toolkit" %}{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-12 col-md-8 col-lg-6">
    <div class="alert alert-success">
      {% trans "If an account exists for that email, a password reset link has been sent." %}
    </div>
    <p>
      <a class="btn btn-outline-primary" href="{% url 'login' %}">{% trans "Back to login" %}</a>
    </p>
  </div>
</div>
{% endblock %}
